<div class="aside-container">
  <h2>Lorem ipsum dolor sit amet.</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae recusandae
    quos itaque nesciunt commodi ullam facilis veniam quisquam, iure accusamus
    neque illum aliquid eos totam aperiam tempora officia atque odit. Officiis
    eos vero repudiandae fuga tempora reiciendis ipsa sit. Obcaecati sapiente id
    saepe ipsa dolores? Inventore nesciunt esse repellendus voluptatem, qui
    deserunt explicabo officiis rem! Hic, expedita dolorum?
  </p>
</div>
